# Dependencies
node_modules/ .vite/
.idea/ *.iml .vscode/


# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
*.log
**/target/ *.jar *.war *.ear *.class
.env backend/.env backend/.env.local
*.zip *.tar *.gz *.rar